.input-filter {
  margin-top: 35px;

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: @text-size--large;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    width: 90px;
    height: 30px;
    padding: 0 10px;
  }

  span {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
}