.main-content {
  padding-top: 20px;
  padding-bottom: 34px;

  &__dropdown {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d5da;
  }

  &__subs {
    margin-top: 35px;
  }
}

@media (max-width: 767px) {
  .main-content {
    text-align: center;
  }
}