.subscribe {

  &__input {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    color: @gray;
    border: 1px solid #e5e5e5;
    padding-left: 12px;
    font-style: italic;

    &:focus {
      outline: rgb(77, 144, 254) auto 5px;
    }
  }

  &__thank {
    display: none;
    font-size: @text-size--large;
  }
}

@media (max-width: 767px) {
  .subscribe {
    margin: 35px auto 35px;
    max-width: 320px;
    text-align: center;
  }

}